*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
.DS_Store
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/codebase-model/target/
/codebase-core/target/
/codebase-services/target/
/codebase-user-web/target/
/codebase-user-model/target/
/codebase-user-core/target/
/codebase-user-services/target/
/codebase-ui/app/bower_components/
/codebase-ui/nbproject/private/
/codebase-ui-full/app/bower_components/
/codebase-ui-full/nbproject/private/