
    <div class="sheet topbar">
        <div class="title">
            New Student
        </div>
    </div>

    <div class="content form">
        <div class="box">
            <form>
            <div class="container-fluid">
                <fieldset>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text"  ng-model="student.firstname" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text"  ng-model="student.lastname" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" ng-model="student.email" >
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Birth Date</label>
                                <input type="date" class="form-control" ng-model="student.birthday" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Gender</label>
                                <div class="radio-options">
                                    <div class="radio-option">
                                        <label>
                                            <input type="radio" class="form-control" name="gender" ng-model="student.gender" value="male"> Male
                                        </label>
                                    </div>
                                    <div class="radio-option">
                                        <label>
                                            <input type="radio" class="form-control" name="gender" ng-model="student.gender" value="Female"> Female
                                        </label>
                                    </div>
                                     
                                </div>                                
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Notes</label>
                                 <textarea class="form-control" ng-model="student.notes"></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
        </div>
        <div class="form-actions">
            <a class="link inverted" href="#/students">Cancel</a>
            <div class="main-action">
                <button class="button main inverted" ng-click="newStudent(student)">Create</button>
            </div>
        </div>
    </div>


