<h2>{{currentGroup.name}}</h2>
<h3><a href="#/groups">Back</a></h3>



   <div ng-if="userType == 'admin'">
        <h4>Editing this:</h4>
        <div>{{currentGroup.name}}</div>
        <div>
            <h5>Students</h5>
            <div ng-repeat="student in currentGroup.students">
                {{student.name}}
            </div>
        </div>

   </div>
   <div ng-if="userType != 'admin'">
        <div>{{currentGroup.name}}</div>
        <div>
            <h5>Students</h5>
            <div ng-repeat="student in currentGroup.students">
                {{student.name}}
            </div>
        </div>
   </div>

