<ul>
    <li ng-class="{active : isActive('/home')}">
        <a href="#/home">Home</a>
    </li>
    <li ng-class="{active : isActive('/teachers')}">
        <a href="#/teachers">Teachers</a>
    </li>
    <li ng-class="{active : isActive('/groups')}">
        <a href="#/groups">Groups</a>
    </li>
    <li ng-class="{active : isActive('/students')}">
        <a href="#/students">Students</a>
    </li>
    <li ng-class="{active : isActive('/books')}">
        <a href="#/books">Books</a>
    </li>
</ul>
<ul>
    <li ng-class="{active : isActive('/settings')}">
        <a href="#/settings">settings</a>
       
    </li>
    <li>
         <a href ng-click="logout()">logout</a>
    </li>
</ul>