<h2>Add  Student</h2>
<h3><a href="#/students">Back</a></h3>


<form novalidate name="addStudentForm" ng-submit="addStudent(addStudentForm.$valid, newStudent)">

     <div class="control">
         <input ng-model="newStudent.email" id="email" name="email" type="email" placeholder="Email" required>
         <div class="error-msg" ng-show="addStudentForm.email.$invalid && addSubmitted">Enter a valid email.</div>
     </div>
     <div class="control">
         <input ng-model="newStudent.name" id="name" name="name" type="text" placeholder="Name and Lastname" required>
     </div>
     <div class="control full">
         <input ng-model="newStudent.password" type="text" id="pass" name="password" placeholder="Password" required>
     </div>
     
     <div class="control full">
           <div class="checkbox" ng-repeat="group in groups">
               <input type="radio" name="student-group"> {{ group.name }}
           </div>
     </div>

     <button  type="submit" value="Add" class="button block">Add Student</button>

 </form>