// main: ../main.less
@import (once) "../variables.less";
.sheet {
    position: absolute;
    background-color: @white;
    padding: @padding;
    box-sizing: border-box;
 
    &.bottom {
        width: 100%;
        bottom: 0;
        left: 0;
        border-top: 1px solid @gray;
    }
    
    &.topbar {
        padding:  0;
        width: 100%;
        height: @topBarHeight;
        top: 0;
        left: 0;
        border-bottom: 1px solid @gray;
        z-index: @topBarIndex;
        text-align: center;
        line-height: @topBarHeight;
        position: fixed;
        box-sizing: border-box;
        .title {
            font-size: @fontSizeBig;
            text-transform: uppercase;
            font-weight: 400;
        }
        & + .searchbar {
             top: @topBarHeight;
        }
    }
    &.searchbar {
        padding: 0 @padding;
        background-color: @grayLight;
        width: 100%;
        height: @topBarHeight;
        top: 0;
        left: 0;
        border-bottom: 1px solid @gray;
        z-index: @topBarIndex;
        text-align: center;
        line-height: @topBarHeight;
        position: fixed;
        box-sizing: border-box;
        
    }
}

.screen {
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    
}
.sidebar {
    position: fixed;
    width: @sidebarWidth;
    background-color: @grayDark;
    color: @grayLight;
    height: 100%;
    top: 0;
    left: 0;
    z-index: @sidebarIndex;
    border-right: 1px solid @gray;
    
    & + .screen {
        @media (min-width: @md) {
            padding: 0 0 0 @sidebarWidth;
            .topbar {
                padding: 0 0 0 @sidebarWidth;
            }
            .searchbar {
                padding: 0 @padding 0 @sidebarWidth + @padding;
            }
            .form-actions {
                padding: @padding/4 @padding @padding/4 (@sidebarWidth + @padding);
            }
        }
    }
    
    @media (max-width: @md ) {
        left: -@sidebarWidth; 
    }
    
    
    #main-nav {
        list-style-type: none;
        padding: 0;
        margin: 0;
        .sidebar-link {
            border-bottom: 1px solid lighten(@grayDark, 10%);
            a {
                padding: @padding/4 @padding/2;
                display: block;
                color: @gray;
                text-transform: uppercase;
                font-size: @fontSizeNav;
                &:hover {
                    background-color: @blue;
                    color: @white;
                    text-decoration: none;
                }
            }
            &.active {
                a {
                    color: @blue;
                    &:hover {
                        color: @grayDark;
                    }
                }
            }
        }
    }
    
}

.content {
    padding: @padding*2 @padding @padding;
}