



<div class="sheet topbar">
    <div class="title">
        Teachers
    </div>
</div>
<div class="sheet searchbar">
    <form class="fluid">
        <div class="form-group">
            <input type="text" placeholder="Search" ng-model="search" class="form-control search">
        </div>
    </form>
</div>
<div class="content list"  >
    <div ng-repeat="teacher in teachers | filter: search as searchresults">
        <div class="list-item" ng-click="go('/teachers/details',{id: teacher.id})">
            <div class="item-name">
                {{teacher.firstname}} {{teacher.lastname}}
            </div>
            <div class="item-detail">
                {{teacher.email}}
            </div>
        </div>
    </div>
    <div ng-if="searchresults.length == 0">No Results</div>
    <div class="list-actions">
        <a class="button inverted" href="#/teachers/new">Create teacher</a>
    </div> 


</div>

