



<div class="sheet topbar">
    <div class="title">
        Schools
    </div>
</div>
<div class="sheet searchbar">
    <form class="fluid">
        <div class="form-group">
            <input type="text" placeholder="Search" class="form-control search">
        </div>
    </form>
</div>
<div class="content list"  >
    
    <div class="list-item" ng-click="go('/schools/details',{id: school.id})" ng-repeat="school in schools">
        <div class="item-name">
            {{school.id}} - {{school.schoolName}}
        </div>
        <div class="item-detail">
            {{school.description}}
            - <a class="button inverted" href="#/courses?schoolId={{school.id}}">View Courses</a>
        </div>
    </div>

    <div class="list-actions">
        <a class="button inverted" href="#/schools/new">Create School</a>
    </div> 


</div>

